@font-face {
  font-family: 'UhBeeQUEENJ';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeQUEENJ.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

body{
  width: 100vw;
  font-family: 'UhBeeQUEENJ', cursive;
  margin: 0px; 
  padding: 0px;
  align-items: center;
}


/* tag */
#header{
  width: 100vw;
  height: 250px;
  margin: 0px auto;
  align-items: center;
  display: flex;
  justify-content:center;
}

#footer{
  width: 100%;
  height: 200px;
  margin: 0px auto;
  font-size: 11px;
  vertical-align: bottom;
  text-align: center;
  padding-top: 100px;
  font-family: 'LINESeedKR-Bd';
}

#container{
  width: 1000px;
  height: auto;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}

img {

  width: 100%;
  height: auto;
  max-width:500px;
  display:block;
  margin:0 auto;

}

.row{
  display: flex; 
  position:relative;
  justify-content:right;
  align-items: center;
}

.row-text{
  position:absolute;
  top:38%;
  left:75%;
  width: 43%;
  transform:translate(-50%,-15%);
  font-size: 16px;
}

.title{
  align-items: center;
  display: flex;
  justify-content:center;
}

.ft{
  align-items: center;
  display: flex;
  justify-content:center;
}

.hd{
  align-items: center;
  display: flex;
  justify-content:center;
}



.col4{width: 100%; margin: 10px;}
.col2{width: 50%; margin: 0px; margin-bottom: 30px; padding:0px; align-items: center; justify-content: center;}

.h250{height: 250px;}
.h1400{height: 700px;}


@media screen and (max-width:768px)
{
 #container{
 width: 100vw;
 align-items: center;
}
.col2{
  width: 100%;
}
  .row{
    flex-direction: column;
    align-items: center;
    position:relative;
    justify-content:center;
  }

  .row-text{
    max-width: 430px;
    flex-direction: column;
    align-items: center;
    position:absolute;
    width: 100%;
    top:80%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 16px;
  }

}