@font-face {
  font-family: 'UhBeeQUEENJ';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeQUEENJ.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

body{
  width: 100vw;
  font-family: 'UhBeeQUEENJ', cursive;
  margin: 0px; 
  padding: 0px;
  align-items: center;
}


/* tag */

#container{
  width: 90%;
  margin: 0px auto;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex; 
  position:relative;
  justify-content:center;
  align-items: center;
}

.row-text{
  max-width: 480px;
  position:absolute;
  top:53%;
  left:72%;
  width: 50%;
  transform:translate(-50%,-50%);
  font-size: 18px;
}

.ft{
  align-items: center;
  display: flex;
  justify-content:center;
  font-size: 11px;
  vertical-align: bottom;
  text-align: center;
  padding-top: 100px;
  font-family: 'LINESeedKR-Bd'
}

.hd{
  align-items: center;
  display: flex;
  justify-content:center;
  flex-direction: column;
}

.hd2{
  align-items: center;
  display: none;
  justify-content:center;
}
img{

  width: 100%;
  height: auto;
  display:block;
  margin:0 auto;

}

.col4{width: 100%;}
.col2{width: 50%; margin: 0px; padding-bottom: 40px;}
.col3{width:30%;}

.h250{height: 250px;}
.h1400{height: 700px;}


@media screen and (max-width:768px)
{
body{ 
  width: 100vw;
}
.hd{
  align-items: center;
  flex-direction: column;
  display: none;
  justify-content:center;
}
.hd2{
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content:center;
}
 #container{
 width: 80%;
 padding: 40px;
 align-items: center;
 justify-content: center;
}
.col2{
  width: 100%;
}

  .row{
    flex-direction: column;
    align-items: center;
    position:relative;
    justify-content:center;
  }

  .row-text{
    max-width: 520px;
    flex-direction: column;
    align-items: center;
    position:absolute;
    width: 90%;
    top:79%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 19px;
  }

}