@font-face {
  font-family: 'UhBeeQUEENJ';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeQUEENJ.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

body{
  font-family: 'UhBeeQUEENJ', cursive;
}

/* all */
*{
  margin: 0px; padding: 0px;
  width: auto;
}

/* tag */
#header{
  width: 1000px;
  height: 250px;
  margin: 0px auto;
  align-items: center;
  display: flex;
  justify-content:center;
}

#footer{
  width: 1000px;
  height: 200px;
  margin: 0px auto;
  font-size: 11px;
  vertical-align: bottom;
  text-align: center;
  padding-top: 100px;
  font-family: 'LINESeedKR-Bd';
}

#container{
  width: 1000px;
  height: auto;
  margin: 0px auto;
}

.row{
  display: flex; 
  position:relative;
  justify-content:center;
  align-items: center;
}

.row-text{
  position:absolute;
  top:38%;
  left:75%;
  width: 43%;
  transform:translate(-50%,-15%);
  font-size: 17px;
}

.title{
  align-items: center;
  display: flex;
  justify-content:center;
}

.ft{
  align-items: center;
  display: flex;
  justify-content:center;
}

.hd{
  align-items: center;
  display: flex;
  justify-content:center;
}



.col4{width: 100%; margin: 10px;}
.col2{width: 50%; margin: 0px; margin-bottom: 30px; padding:0px}

.h250{height: 250px;}
.h1400{height: 700px;}


/*
.row1{
  width: 100%; display: flex;
  border: solid;
  background-image: url("../img/1-1.png");
  background-size: cover;
}
*/

@media screen and (max-width:768px)
{

  .row{
    width:100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    position:relative;
    justify-content:center;
    text-align:center;
  }

  .row-text{
    flex-direction: column;
    align-items: center;
    position:absolute;
    top:72%;
    left:50%;
    width: 43%;
    transform:translate(-50%,-25%);
    font-size: 17px;
  }

}